body{
scrollbar-face-color: #dccb9c;
scrollbar-shadow-color: #000000;
scrollbar-highlight-color: #ffffff;
scrollbar-3dlight-color: #000000;
scrollbar-darkshadow-color: #000000;
scrollbar-track-color: #f4e9d3;
scrollbar-arrow-color: #000000
}

a{
color: #000000;
text-decoration: none;
position: relative;
}

a::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}
a:hover::before {
  transform: scaleX(1);
}

